<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kingnet.startup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="com.kingnet.DemoApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black">
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Black"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        AndroidStartUp 第二种配置方式-->
<!--        <provider-->
<!--            android:name="com.rousetime.android_startup.provider.StartupProvider"-->
<!--            android:authorities="${applicationId}.android_startup"-->
<!--            android:exported="false">-->

<!--            <meta-data-->
<!--                android:name="com.kingnet.startup.AndroidStartUp.HAndroidStartUp"-->
<!--                android:value="android.startup" />-->

<!--            <meta-data-->
<!--                android:name="com.kingnet.startup.AndroidStartUp.GAndroidStartUp"-->
<!--                android:value="android.startup" />-->

<!--        </provider>-->



<!--        JetPack StartUp-->
<!--        <provider-->
<!--            android:name="androidx.startup.InitializationProvider"-->
<!--            android:authorities="${applicationId}.androidx-startup"-->
<!--            android:exported="false"-->
<!--            tools:node="merge">-->
<!--            <meta-data-->
<!--                android:name="com.kingnet.startup.Initializer.AInitializer"-->
<!--                android:value="@string/androidx_startup" />-->
<!--            <meta-data-->
<!--                android:name="com.kingnet.startup.Initializer.BInitializer"-->
<!--                android:value="@string/androidx_startup" />-->
<!--            <meta-data-->
<!--                android:name="com.kingnet.startup.Initializer.CInitializer"-->
<!--                android:value="@string/androidx_startup" />-->
<!--            <meta-data-->
<!--                android:name="com.kingnet.startup.Initializer.DInitializer"-->
<!--                android:value="@string/androidx_startup" />-->
<!--            <meta-data-->
<!--                android:name="com.kingnet.startup.Initializer.EInitializer"-->
<!--                android:value="@string/androidx_startup" />-->
<!--            <meta-data-->
<!--                android:name="com.kingnet.startup.Initializer.FInitializer"-->
<!--                android:value="@string/androidx_startup" />-->
<!--            <meta-data-->
<!--                android:name="com.kingnet.startup.Initializer.GInitializer"-->
<!--                android:value="@string/androidx_startup" />-->
<!--            <meta-data-->
<!--                android:name="com.kingnet.startup.Initializer.HInitializer"-->
<!--                android:value="@string/androidx_startup" />-->
<!--        </provider>-->



    </application>

</manifest>